/* 
*{
    border: solid purple 5px
}



    h1{
    color: #6411ad;
    border: dashed #000000 2px;
    /* border-style: solid;
    border-color: black;
    border-width: 2px; 


    ul{
    color: #822faf;
    font-size: 20px;
}

body{
    background-color: #47126b; 
    background-image: url('planofundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.filme1{
    color: rgb(183, 92, 211);
}

.filme2{
    color: rgb(140, 0, 255);
}

#titulo{
    color: purple ;

}  

*/